<html>

<head>
    <link rel="stylesheet" href="~/Styles/style.css" />
</head>
<body>

<p id="status"></p>
<p id="fail"></p>

<canvas id="screen" width="64" height="32"></canvas>
<script>
   
</script>
    <script src="/Scripts/screen.js"></script>
    <script src="/Scripts/keys.js"></script>
    <script src="/Scripts/emu.js"></script>
</body>
</html>
